body {
	background-color: #393939;
	margin: 0;
	padding: 0;
	color: white;
}

.smsabody {
	background-color: black;
}
.smsa-anchor {
	color:inherit;
	text-decoration: underline;
}

div.introsectionbackground {
	background: url(../images/metalla.jpg);
	background-size: auto;
	padding: 0;
	margin: 0;
	color: white;
	background-color: white;
}

div.workssectionbackground {
	background: url(../images/metallb.jpg);
	background-size: auto;
	padding: 1%;
	margin: 0;
	color: white;
	background-color: white;
}

div.contactsectionbackground {
	background: url(../images/metallc.jpg);
	background-size: cover;
	padding: 1%;
	margin: 0;
	color: white;
	background-color: white;
}

/* Topmost Text and Elements */
header {
	text-align: center;
}

h1.siteheaderid {
	background-color: black;
	margin: 0;
	padding: 1%;
}
a.indexhref {
	color: inherit;
	text-decoration: none;
}

/* End of that */
/* Navigation Bar Content */
nav {
	background-color: black;
	color: white;
	padding: 1%;
}

a.nava { 
    color: inherit;
    text-decoration: none;
    text-align: center;
    margin-left: 2%;
    margin-right: 2%;
} 
     
a.nava:hover { 
   	color: #00f;
    text-decoration: underline;
} 


/* End of Nav Bar Content */
/* Text blurb at top of page */
div.hpblurbimage {
	text-align: center;
	width: 20%;
	flex: 1;
}

div.kafei {
	float: left;
}
div.xenon {
	float: right;
}
div.hpblurbimage img {
	width: 30%;
	height: auto;
}

div.hpblurb h3, h4, h5 {
	padding: 0;
	margin: 0;
	display: inline-block;
}
div.hpblurb h5 {
	padding-bottom: 0.8%;
}

div.hpblurbtext {
	width: 40%;
	background-color: rgba(0,0,0,0.7);
}

div.hpblurb {
	display: flex;
	justify-content: space-between; 
	align-items: center; 
	width: 100%;
	background-color: #696969;
	margin: 0;
	padding: 0;
	background: url(../images/backgroundimagespiralstaircase.jpg);
	background-size: contain;
}
/* End of Top of Page Text Blurb */


/* Rainbow Marquee cause fuck it */
.rainbow {
    text-decoration: underline;
    font-family: monospace;
}
.rainbow_text_animated {
    background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 6s ease-in-out infinite;
    background-size: 400% 100%;
}

@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}
/* End of Rainbow Marquee */


/* Information Blurb */
div.mpintroblock {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 1%;
}

div.mpintro1, div.mpintro2 {
    flex: 1; 
    padding: 4%; 
    background-color: rgba(0,0,0,0.93);
}
.mpintro1 {
	margin-right: .3%;
}
.mpintro2 {
	margin-left: .3%;
}

img.laptopimage, img.lunaimage {
    width: 40%; 
    height: auto;
}

p {
    word-wrap: break-word;
}

/* No more Info Blurb */


/* Works Section */
a.aneliseanchor {
	color: #FF007F;
	text-decoration: none;
}

a.smsaanchor {
	text-decoration: none;
	color: #ffff00;
}

div.workssection {
    background-color: rgba(0,0,0,0.93);
    display: flex;
    flex-direction: column; 
    text-align: center;
    padding: 1%;
    margin: 1%;
}

.workstitle {
	width: 100%;
}

.workscontent { 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.anelise, .smsa, .fishingtrip, .objectsparasite {  
    padding: 1%;
    margin: 1%;
    box-sizing: border-box;
    width: calc(45%); 
    text-align: left;
    border-color: white;
    border: solid;
}


/* End Works Section */


/* Contact Section */
div.contactsection {
    background-color: rgba(0,0,0,0.6);
    display: flex;
    flex-direction: column; 
    text-align: center;
    padding: 1%;
    margin: 1%;
}
.contacttitle {
	width: 100%;
}
/* End Contact Section */










/* SMSA CHAPTERS AND TEMPLATE */

.smsabody {
	background-image: url(../images/smsnexus.png);
	background-size: cover;
}

.smsabody-chapterindex {
	 background-color: rgba(0,0,0,0.9);
	 margin: 1%;
	 padding: 2%;
}


/* MOBILE QUERIES */

@media screen and (max-width: 850px) {
	.hpblurb, .hpblurbimage, .hpblurbtext {
		font-size: 75%;
	}
	div.hpblurbimage img {
		width: 100%;
	}

	div.mpintro1, div.mpintro2 {
		background-color: rgba(0,0,0,0.7);
        display: block;
        flex-direction: column; 
        text-align: center;
        padding: 1%;
        margin: 1%;
        width: auto; 
	}

	div.introsectionbackground {
		background: url(../images/mobilemetalla.jpg);
		background-size: auto;
		padding: 0;
		margin: 0;
		color: white;
		background-color: white;
	}
	
	.workssection, .contactsection, .mpintroblock {
        flex-direction: column;
    }
}
